@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: hsl(218, 23%, 16%);
}
main {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;

  background-color: hsl(217, 19%, 24%);
  align-items: center;

  padding: 20px 10px 60px 10px;
  margin: auto 10px;
  border-radius: 5px;
}
.card .card-title {
  color: hsl(150, 100%, 66%);
  padding-top: 30px;
}
.card .card-title h1 {
  font-size: 15px;
}
.advice {
  font-size: 28px;
  color: #fff;
  text-align: center;
  padding: 40px 0;
  font-weight: 800;
}
.icon {
  position: absolute;
  bottom: -16px;
  background-color: hsl(150, 100%, 66%);
  padding: 15px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: auto;
  transition: all ease 0.5s;
}
.icon:hover {
  box-shadow: 0 0 10px #52ffa8;
}
.icon img {
  transition: all ease 0.2s;
}
.icon:active img {
  transform: rotate(360deg);
}
/**mobile design***/
@media (max-width: 900px) {
  #mobile {
    display: block;
  }
  #desktop {
    display: none;
  }
}
/***Desltop Design****/
@media (min-width: 899px) {
  #mobile {
    display: none;
  }
  #desktop {
    display: block;
  }
}
